*.iml
*.ipr
*.iws
.DS_Store
!.idea/copyright
!/.idea/codeStyles
/.idea/codeStyles/*
!/.idea/codeStyles/Project.xml
!/.idea/codeStyles/codeStyleConfig.xml

.classpath
.project

/build/
*/build/
**/build/
captures/
.gradle/
.cxx/
.externalNativeBuild/
buildSrc/.gradle/
bin/
gen/
out/
generated/
.kotlin
_sandbox/

*/captures/
*/.cxx/
*/.externalNativeBuild/
*/build/generated/

*.apk
*.aab
*.ap_

*.dex
*.class
*.jar
*.aar

*.so
*.oat
*.odex
*.art
*.bin
*.map

.ksp/
.kapt/
.kotlin_module/

*.log
*.lock
buildconfig/
.gradle-unsecured/

test-results/
build/reports/
*/build/reports/
*/build/test-results/
*/build/outputs/androidTest-results/
*/build/outputs/unit_test_code_coverage/
*/build/outputs/code_coverage/

secrets.properties
*.keystore
*.jks

.nbproject/
.scout/
